<div class="editCreds">
        <p class="text">Why don't you edit your profile?</p>
        <h4>Decisiveness is overrated</h4>


        <div id="edit-profile-wrapper">
            {{#users}}

                <form method="POST" action="/editCreds">
                    <span class="fontawesome-user"></span><input type="text" name='first' required placeholder="First name" value="{{first}}">
                    <span class="fontawesome-user"></span><input type="text" name='last' required placeholder="Last name" value="{{last}}">
                    <span class="fontawesome-envelope-alt"></span><input type="text" name='email' required placeholder="Email" value="{{email}}">
                    <span class="fontawesome-user"></span><input type="text" name='age' required placeholder="Age" value="{{age}}">
                    <span class="fontawesome-home"></span><input type="text" name='city' required placeholder="City" value="{{city}}">
                    <span class="fontawesome-link"></span><input type="text" name='homepage' required placeholder="Homepage" value="{{homepage}}">
                    <span class="fontawesome-lock"></span><input type="password" name='hashedpass' required placeholder="Password">
                    <span class="button"><input type="submit" value="Update" id = "submit">

                </form>
            {{/users}}

        </div>
        <p>{{error}}</p>

        <div class="links">
            <a href = "/thoseWhoSigned">Other people who signed here |</a>
            <a href = "/citySigners">People from {{city}} who signed |</a>
            <a href= "/register">Log Out</a>
        </div>

</div>
