<h1>we the undersigned support the endeavor towards making Berlin friendlier to bikers</h1>
<div id = "names">
    <ul>
        {{#names}}
            <p><a href = "{{homepage}}">{{first}} {{last}}</a> ( {{age}}, <a href ="/citySigners/{{city}}">{{city}}</a> )</p>
        {{/names}}
    </ul>
    <a href = "/register">[log out]</a>
    <a href = "/editCreds">[edit your profile]</a>
</div>
