<div class="thoseWhoSigned">
    <h1 class="text">we the undersigned support the endeavor towards making Berlin friendlier to bikers</h1>
    <div id = "names">
        <ul>
            {{#names}}
                <p><a href = "{{homepage}}">{{first}} {{last}}</a> ( {{age}}, <a href ="/citySigners/{{city}}">{{city}}</a> )</p>
            {{/names}}
        </ul>
    </div>
    <div class="links">
        <a href = "/login">Log out |</a>
        <a href = "/editCreds">Edit your profile</a>
    </div>


</div>
